
{% extends 'base.html' %}

{% block body %}
    <div id="chart_area" class="wrapper">
      <h2>Relative Probability of Getting Diabetes</h2>
      <p class="space"></p>
      <div id="bar_chart">
      </div>
    </div>

    <div id="sliders" class="wrapper">

      <h2 class="feature">Sugar Intake: <span id="sugar">93.26</span></h2>
      <div id="sugar_slider"></div>

      <h2 class="feature">Age: <span id="age">48</span></h2>
      <div id="age_slider"></div>

      <h2 class="feature">Cholesterol Intake: <span id="cholesterol">210</span></h2>
      <div id="cholesterol_slider"></div>

    </div>
{% endblock body %}

{% block js %}
    <script>

     <!-- SINGLE BAR CHART -->

     var current_sugar = 93.26;
     var current_age = 48;
     var current_cholesterol = 210;
     var current_risk = 1.0;
     var max_prob = 3*{{median_prob}}/{{median_prob}};

     var chart = d3.select("#bar_chart")
                   .append("svg:svg")
                   .attr("width", 800)
                   .attr("height", 100);

     var chance_scale = d3.scale.linear()
                                .domain([0, max_prob])
                                .range([0, 800]);
     
     var hue_scale = d3.scale.linear()
							 .domain([0, max_prob])
							 .range([100, 0]);

     var bar = chart.append("g")
                    .attr("class", "bar")

     bar.append("svg:rect")
        .attr("id", "chancebar")
        .attr("class", "bar")
        .attr("width", chance_scale(current_risk))
        .attr("height", 50);

     bar.append("text")
        .attr("id", "percent_text")
        .attr("dy", ".75em")
        .attr("y", 15)
        .attr("x", chance_scale(current_risk-.2))
        .attr("text-anchor", "middle")
        .attr("fill", "white")
        .attr("font-size", 20)
        .text(current_risk.toFixed(1));


     <!-- FUNCTION TO GET CHANCE FROM YOUR PREDICTOR WITH AJAX AND CHANGE BAR  HEIGHT -->

     function getAndDrawChance(sugar, age, cholesterol){
      
      var data = JSON.stringify(
        [sugar, age, cholesterol]);

       $.ajax({
         type: "POST",
         contentType: "application/json; charset=utf-8",
         url: "/score/",
         dataType: "json",
         async: true,
         data: data,
         success: function (data) {
           var chance = data["rel_score"];
           console.log(data["rel_score"]);
           d3.select("#chancebar")
             .attr("width", chance_scale(chance))
 			 .style("fill", d3.hsl(hue_scale(chance), 0.9, 0.5));
           d3.select("#percent_text")
             .attr("x", chance_scale(chance-.2))
             .text(chance.slice(0,4));
         },
         error: function (result) {
         }
       })
     }


     <!-- SLIDERS -->

     d3.select('#sugar_slider')
       .call(
         d3.slider()
           .value(current_sugar)
           .step(10)
           .max(200)
           .axis(true)
           .on("slide", function(evt,value) {
             d3.select('#sugar').text(value);
             current_sugar = value;
             getAndDrawChance(current_sugar, current_age, current_cholesterol)
           }
           )
       );

     d3.select('#age_slider')
       .call(
         d3.slider()
           .value(current_age)
           .min(18)
           .max(80)
           .step(1)
           .axis(true)
           .on("slide", function(evt,value) {
             d3.select('#age').text(value);
             current_age = value;
             getAndDrawChance(current_sugar, current_age, current_cholesterol)
           }
           )
       );

     d3.select('#cholesterol_slider')
       .call(
         d3.slider()
           .value(current_cholesterol)
           .max(800)
           .step(10)
           .axis(true)
           .on("slide", function(evt,value) {
             d3.select('#cholesterol').text(value);
             current_cholesterol = value;
             getAndDrawChance(current_sugar, current_age, current_cholesterol)
           }
           )
       );
      <!-- TOGGLE BUTTON -->

      var width = 399;
      var height = 499;
      var word = "Diabetes model";

      var holder = d3.select("body")
          .append("svg")
          .attr("width", width)
          .attr("height", height);

      // draw a rectangle
      holder.append("a")
        .attr("xlink:href", "http://0.0.0.0:9000/k_obesity/")
        .append("rect")
        .attr("x", 100)
        .attr("y", 50)
        .attr("height", 100)
        .attr("width", 200)
        .style("fill", "lightgreen")
        .attr("rx", 10)
        .attr("ry", 10);

      // draw text on the screen
      holder.append("text")
        .attr("x", 200)
        .attr("y", 100)
        .style("fill", "black")
        .style("font-size", "20px")
        .attr("dy", ".35em")
        .attr("text-anchor", "middle")
        .style("pointer-events", "none")
        .text(word);

        var width = 399;
        var height = 499;
        var word = "Diabetes Model";

        var holder = d3.select("body")
             .append("svg")
             .attr("width", width)
             .attr("height", height);

        // draw a rectangle
        holder.append("a")
           .attr("xlink:href", "http://0.0.0.0:9000/")
           .append("rect")
           .attr("x", 100)
           .attr("y", 50)
           .attr("height", 100)
           .attr("width", 200)
           .style("fill", "lightgreen")
           .attr("rx", 10)
           .attr("ry", 10);

        // draw text on the screen
        holder.append("text")
           .attr("x", 200)
           .attr("y", 100)
           .style("fill", "black")
           .style("font-size", "20px")
           .attr("dy", ".35em")
           .attr("text-anchor", "middle")
           .style("pointer-events", "none")
           .text(word);
    </script>
{% endblock js %}
