
{% extends 'base.html' %}

{% block body %}
    <div id="chart_area" class="wrapper">
    <h3 class="h_img"></h3>
      <h2 class='t_text'>Risk of Kindergarten Obesity</h2>
      <p class="space"></p>
      <div id="bar_chart">
      </div>
    </div>

    <div id="sliders" class="wrapper">

      <h2 class="feature">District Poverty: <span id="dpov">16</span></h2>
      <div id="dpov_slider"></div>

      <h2 class="feature">Parent 1 Age: <span id="P1age">34</span></h2>
      <div id="P1age_slider"></div>

      <h2 class="feature">Parent Job Prestige: <span id="P1prestige">35</span></h2>
      <div id="P1prestige_slider"></div>

      <h2 class="feature">Income Category: <span id="income">11</span></h2>
      <div id="income_slider"></div>

    </div>
    <style>
      .h_img {
        height: 120px;
        background: url(http://previews.123rf.com/images/nenochka/nenochka1202/nenochka120200002/12159403-Candy-pattern-for-tea-Retro-style--Stock-Vector-cake.jpg);
        background-size: 300px 300px;
      }
      .t_text {
        margin: 0px 0 5px 0;;
      }
    </style>
{% endblock body %}

{% block js %}
    <script>

     <!-- SINGLE BAR CHART -->

     var current_dpov = 16;
     var current_P1age = 34;
     var current_P1prestige = 35;
     var current_income = 11
     var current_risk = 1.0;
     var max_prob = 3*{{median_prob}}/{{median_prob}};

    var top_margin = 3
    var left_margin = 3
    var right_margin = 3

     var chart = d3.select("#bar_chart")
                   .append("svg:svg")
                   .attr("width", 800)
                   .attr("height", 70);

     var chance_scale = d3.scale.linear()
                                .domain([0, max_prob])
                                .range([0+left_margin, 800 - right_margin]);

     var hue_scale = d3.scale.linear()
               .domain([0, max_prob])
               .range([100, 0]);

      var border = chart.append("rect")
            .attr("width", 800 - 3)
            .attr("height", 50+2)
            .attr("x", 1)
            .attr("y", 1)
            .style("fill", 'white')
            .style("stroke-width", 2)
            .style("stroke", 'black')

     var bar = chart.append("g")
                    .attr("class", "bar")

       bar.append("svg:rect")
          .attr("id", "chancebar")
          .attr("class", "bar")
          .attr("x", 2)
          .attr("y", 2)
          .attr("width", chance_scale(current_risk))
          .attr("height", 50);

     bar.append("text")
        .attr("id", "percent_text")
        .attr("dy", ".75em")
        .attr("y", 15)
        .attr("x", chance_scale(current_risk-.2))
        .attr("text-anchor", "middle")
        .attr("fill", "white")
        .attr("font-size", 20)
        .text(current_risk.toFixed(1));


     <!-- FUNCTION TO GET CHANCE FROM YOUR PREDICTOR WITH AJAX AND CHANGE BAR  HEIGHT -->

     function getAndDrawChance(d_pov, P1_age, P1_prestige){
      
      var data = JSON.stringify(
        [d_pov, P1_age, P1_prestige, current_income]);

       $.ajax({
         type: "POST",
         contentType: "application/json; charset=utf-8",
         url: "/score2/",
         dataType: "json",
         async: true,
         data: data,
         success: function (data) {
           var chance = data["rel_score"];
           console.log(data["rel_score"]);
           d3.select("#chancebar")
             .attr("width", chance_scale(chance))
       .style("fill", d3.hsl(hue_scale(chance), 0.9, 0.5));
           d3.select("#percent_text")
             .attr("x", chance_scale(chance-.2))
             .text(chance.slice(0,4));
         },
         error: function (result) {
         }
       })
     }


     <!-- SLIDERS -->

     d3.select('#dpov_slider')
       .call(
         d3.slider()
           .value(current_dpov)
           .step(1)
           .max(55)
           .axis(true)
           .on("slide", function(evt,value) {
             d3.select('#dpov').text(value);
             current_dpov = value;
             getAndDrawChance(current_dpov, current_P1age, current_P1prestige, current_income)
           }
           )
       );

     d3.select('#P1age_slider')
       .call(
         d3.slider()
           .value(current_P1age)
           .min(18)
           .max(80)
           .step(1)
           .axis(true)
           .on("slide", function(evt,value) {
             d3.select('#P1age').text(value);
             current_P1age = value;
             getAndDrawChance(current_dpov, current_P1age, current_P1prestige, current_income)
           }
           )
       );

     d3.select('#P1prestige_slider')
       .call(
         d3.slider()
           .value(current_P1prestige)
           .max(80)
           .step(1)
           .axis(true)
           .on("slide", function(evt,value) {
             d3.select('#P1prestige').text(value);
             current_P1prestige = value;
             getAndDrawChance(current_dpov, current_P1age, current_P1prestige, current_income)
           }
           )
       );

       d3.select('#income_slider')
       .call(
         d3.slider()
           .value(current_income)
           .max(18)
           .min(1)
           .step(1)
           .axis(true)
           .on("slide", function(evt,value) {
             d3.select('#income').text(value);
             current_income = value;
             getAndDrawChance(current_dpov, current_P1age, current_P1prestige, current_income)
           }
           )
       );

        var width = 600;
        var height = 200;
        var word = "Go To Diabetes Model";

        var holder = d3.select("body")
             .append("svg")
             .attr("width", width)
             .attr("height", height);

        // draw a rectangle
        holder.append("a")
           .attr("xlink:href", "http://0.0.0.0:9000/")
           .append("rect")
           .attr("x", 100)
           .attr("y", 50)
           .attr("height", 80)
           .attr("width", 300)
           .style("fill", "lightgreen")
           .attr("rx", 10)
           .attr("ry", 10);

        // draw text on the screen
        holder.append("text")
           .attr("x", 250)
           .attr("y", 90)
           .style("fill", "black")
           .style("font-size", "20px")
           .attr("dy", ".35em")
           .attr("text-anchor", "middle")
           .style("pointer-events", "none")
           .text(word);

    </script>
{% endblock js %}