
{% extends 'base.html' %}

{% block body %}
    <div id="chart_area" class="wrapper">
      <h2>Relative Probability of Kindergarten Obesity</h2>
      <p class="space"></p>
      <div id="bar_chart">
      </div>
    </div>

    <div id="sliders" class="wrapper">

      <h2 class="feature">District Poverty: <span id="dpov">16</span></h2>
      <div id="dpov_slider"></div>

      <h2 class="feature">Parent 1 Age: <span id="P1age">34</span></h2>
      <div id="P1age_slider"></div>

      <h2 class="feature">Parent 1 Prestige: <span id="P1prestige">35</span></h2>
      <div id="P1prestige_slider"></div>

    </div>
{% endblock body %}

{% block js %}
    <script>

     <!-- SINGLE BAR CHART -->

     var current_dpov = 16;
     var current_P1age = 34;
     var current_P1prestige = 35;
     var current_risk = 1.0;
     var max_prob = .5/{{median_prob}};

     var chart = d3.select("#bar_chart")
                   .append("svg:svg")
                   .attr("width", 800)
                   .attr("height", 100);

     var chance_scale = d3.scale.linear()
                                .domain([0, max_prob])
                                .range([0, 800]);

     var bar = chart.append("g")
                    .attr("class", "bar")

       bar.append("svg:rect")
          .attr("id", "chancebar")
          .attr("class", "bar")
          .attr("width", chance_scale(current_risk))
          .attr("height", 50);

     bar.append("text")
        .attr("id", "percent_text")
        .attr("dy", ".75em")
        .attr("y", 15)
        .attr("x", chance_scale(current_risk-.2))
        .attr("text-anchor", "middle")
        .attr("fill", "white")
        .attr("font-size", 20)
        .text(current_risk.toFixed(1));


     <!-- FUNCTION TO GET CHANCE FROM YOUR PREDICTOR WITH AJAX AND CHANGE BAR  HEIGHT -->

     function getAndDrawChance(d_pov, P1_age, P1_prestige){
      
      var data = JSON.stringify(
        [d_pov, P1_age, P1_prestige]);

       $.ajax({
         type: "POST",
         contentType: "application/json; charset=utf-8",
         url: "/score2/",
         dataType: "json",
         async: true,
         data: data,
         success: function (data) {
           var chance = data["rel_score"];
           console.log(data["rel_score"]);
           d3.select("#chancebar")
             .attr("width", chance_scale(chance));
           d3.select("#percent_text")
             .attr("x", chance_scale(chance-.2))
             .text(chance.slice(0,4));
         },
         error: function (result) {
         }
       })
     }


     <!-- SLIDERS -->

     d3.select('#dpov_slider')
       .call(
         d3.slider()
           .value(current_dpov)
           .step(1)
           .max(55)
           .axis(true)
           .on("slide", function(evt,value) {
             d3.select('#dpov').text(value);
             current_dpov = value;
             getAndDrawChance(current_dpov, current_P1age, current_P1prestige)
           }
           )
       );

     d3.select('#P1age_slider')
       .call(
         d3.slider()
           .value(current_P1age)
           .min(18)
           .max(80)
           .step(1)
           .axis(true)
           .on("slide", function(evt,value) {
             d3.select('#Pqage').text(value);
             current_P1age = value;
             getAndDrawChance(current_dpov, current_P1age, current_P1prestige)
           }
           )
       );

     d3.select('#P1prestige_slider')
       .call(
         d3.slider()
           .value(current_P1prestige)
           .max(80)
           .step(1)
           .axis(true)
           .on("slide", function(evt,value) {
             d3.select('#P1prestige').text(value);
             current_P1prestige = value;
             getAndDrawChance(current_dpov, current_P1age, current_P1prestige)
           }
           )
       );

    </script>
{% endblock js %}